.app {
	height: 100vh;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  .main-content {
	flex: 1;
	background: rgba(252, 246, 249, 0.78);
	border: 3px solid #FFFFFF;
	backdrop-filter: blur(4.5px);
	border-radius: 32px;
	overflow-x: hidden;
	position: relative;
 	 z-index: 1;
  }
  
  .main-content::-webkit-scrollbar {
	width: 0;
  }
  